.page{
    width: 100vw;
    height: 100vh;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
}
.page-content{
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
}
.content{
    padding: 20px;
    flex-grow: 1;
    overflow: auto;
}